main {
     font-family: 'Source Serif';
     font-size: 50px;
     color: #fff;
     position: absolute;
     transform: translate(-50%, -50%);
     left: 50%;
     bottom: -50px;
     text-align: center;
}

footer {
     font-family: 'InterDisplay';
     font-size: 20px;
     color: rgba(255, 255, 255, 1);
     margin-top: 15px;
}

footer a {
     color: rgba(255, 255, 255, 1);
     text-decoration: none;
     padding: 5px;
     border: #fff 2px solid;
     border-radius: 180px;
     margin-top: 11px;
     transition: background-color 0.2s;
     display: inline-block;
     width: 165px;
     text-align: center;
}

footer a:hover {
     background-color: rgba(255, 255, 255, 0.25);
}